- @banner = 'andyinfield'
%h1 Columbus Area CSA
%nav
  %a{:href => 'https://www.cognitoforms.com/UrbanFinch1/ColumbusCommunitySupportedAgricultureCSAMemberApplication2016', :title => 'Apply Here!', :style => 'font-size: 18px'} Apply Here!
  %br
  %a{:href => '/other/csa_powerpoint.pptx', :title => '2016 CSA INFO', :style => 'font-size: 18px'} 2016 CSA INFO
%h2 Welcome!
%p More information for our CSA program will be available soon
