- @banner = 'andyinfield'
%h1 Columbus Area CSA
%nav
  %a{:href => 'https://www.cognitoforms.com/UrbanFinch1/ColumbusCommunitySupportedAgricultureCSAMemberApplication', :title => 'Apply Here!', :style => 'font-size: 18px'} Apply Here!
  %a{:href => 'https://www.cognitoforms.com/UrbanFinch1/ColumbusCSA2015YearEndSurvey', :title => '2015 CSA Survey', :style => 'font-size: 18px'} 2015 CSA Survey
%h2 Welcome!
%p Community Supported Agriculture or CSA is a wonderful and growing trend!  By joining or participating in a CSA, community members not only get the freshest local products available, but they get to support their local farmers at the same time!  Participants purchase a “share” or membership and in return receive a weekly bag of LOCAL seasonal fruits, vegetables, meats, jams, jellys, cheeses and eggs.  It’s a great program and one we at Daniels Produce are very excited to be in charge of during its first year.
%h2 Your Share
%p By purchasing a “share” in the CSA you are allowing the growers of this CSA the ability to grow the products we will put into your CSA bag each week.  Farming has always been a huge up front investment, but the CSA allows the growers to have some income in advance to plan for, grow and harvest our crops and feed and care for our animals.  In return CSA participants are guaranteeing their place in the CSA.
%h3 Growers
%p Right now we are in the process of securing a local producer for beef, pork, chicken, eggs, lamb, cheese, jams/jellys and a few other vegetables.  Obviously, we at Daniels Produce will be providing the majority of the veggies.  As soon as each grower confirms their participation in the program I will post their information so you know exactly what products you will be supporting and who you will be getting them from.
%h3 Cost:
%p For our first year we have decided on two bag options:
%ul
  %li Veggie Lovers bag: $15/bag/week  or $300 for 20 weeks
  %li Veggie/Meat Combo bag:$25/bag/week or $500 for 20 weeks
%h3 Payment:
%p We are also offering 2 payment options the first year:
%ul
  %li 100% up front payment to be received by the end of sign up, April 1st.  Participants who pay 100% of their dues up front will get a 5% discount off their membership
  %li Payment plan of 3 payments: 1/3 due by end of sign up, 1/3 due by June 1st, 1/3 due by July 1st.  So for example if a member chose the Veggie Lovers bag plan on payments they would pay $100 April 1st, $100 June 1st and $100 July 1st.
%h3 Time Frame:
%p We will begin our CSA on May 9th and conclude Sept 19th.
%h3 Pick Ups:
%p We will have 2 pick up times available one on Thursday evening and one on Saturday morning.  Exact times and locations of the pickups are yet to be determined.  I ask that members please chose the day that works best for them and try to stick with it.  It would be difficult to stay organized if members flip flop their pick up days every week, however over a 20 week period exceptions will be allowed.  Failure to pick up your bag at the chosen pick up time will result in the forfeiture of your bag for that week.  If you are unable to pick up one week and cannot make other arrangements for your bag, just email, text or call and we will donate the bag to the food pantry.
%h3 Bags:
%p During your first pick up you will receive one of two reusable bags that are included in the price of the membership.  The following week you will hand us your empty bag and take home the full one.  If for some reason you forget to return your reusable bag we will use a paper or plastic bag the following week.
%h3 Sign Up:
%p Official sign up for the 2015 growing season begins February 13th and ends April 1st.  Click the link on this page, fill out the form and hit submit.  Payments can be sent to Daniels Produce 37831 205th Street Columbus, NE 68601. Please make checks payable to Columbus Area CSA.
%h1 CSA FAQ
%h3 What’s in the bag?
%p Each bag will be filled with the veggies and products available for that particular part of the season but will generally equate to $15 or $25 of retail product respectably.  For example, a $15 Veggie Lovers bag in July would contain 2lbs of tomatoes, 3 cucumbers, 2 onions, 6 ears of corn and a $2-3 block of local cheese.  A $25 Combo bag would probably contain 4: 6oz local steaks, 6 ears of corn, 2lbs of tomatoes and 2 onions.    So it is hard to say how many people a bag will feed because that all depends on the people eating them!
%p Amounts will vary with harvest and will ebb and flow throughout the season and some weeks may be more expansive than others.  I ask that the members of this CSA put their faith and trust in the CSA for the full growing season and that we will do our very best to make sure that we get you great quality and quantity in local products.
%h3 Can I have just a partial share?
%p At this time we do not offer partial bags or partial season memberships.  It may not be a bad idea to share a membership with a family member, friend or neighbor if you feel that the amount may be too much for just your household.
%h3 Will I receive the same products week after week?
%p We will try our very best to offer as much variety in each bag and between each week, but the reality of seasonal vegetables is feast and famine.  You might get a lot of peas for a few weeks and then they are out of season and it is on to the next item of the season.  Enjoy these items while they last because their season might be gone before you know it!
%p If you have other questions you would like answered please don’t hesitate to email, message, text or call.  I am looking forward to a fantastic first year!
%ul
  %li
    Facebook:
    %a{:href => 'https://www.facebook.com/groups/1521640888124317/', :title => 'Columbus Area CSA'} Columbus Area CSA
  %li
    Twitter:
    %a{:href => 'https://twitter.com/columbuscsa', :title => '@columbuscsa'} @columbuscsa
  %li
    Email:
    %a{:href => 'mailto:kelly@danielsproduce.com', :title => 'kelly@danielsproduce.com'} kelly@danielsproduce.com
  %li
    Phone:
    %a{:href => 'tel:402-649-7818', :title => '402-649-7818'} 402-649-7818
