- @banner = 'new_portrait'
%h1 Contact Us
%p
  Give us a call or send an email. We respond as quickly as possible.
%p
  %strong Daniels Produce
  %br
  37831 205th Street
  %br
  Columbus, NE 68601
  %br
  Phone: (402) 897-4253
  %br
  Fax: (402) 897-5201
  %br
  Email: 
  %a{:href => "mailto:kelly@danielsproduce.com"} kelly@danielsproduce.com
%p We would love to talk with you and answer any of your questions.