- @banner = 'cabbage'
%h1 Wholesale Cabbage
%h2 Planting
%p
  This year we debut cabbage at Daniel's Produce. As of July 2012, our cabbage is Primus Food Safety Certified. 
  We offer two types of cabbage, fresh market and storage. Fresh market cabbage will be available June 20-October 1st. 
  Storage cabbage will be availabel October 1st-February, or while supplies last.
%h2 Harvesting and Grading
%p
  Like all of our products, our cabbage is hand harvested fresh to order. 
  After being cooled, cleaned and disinfected in our hydro-coolers, our cabbage is carefully graded and packaged 
  to customer specifications.
%h2 Packaging
%p
  We currently offer two packaging options for our cabbage:
%ul
  %li 50lb corrugated boxes (approx. 16-18 ct)
  %li 50lb sacks in 24 inch cardboard bins or 36 inch cardboard boxes (approx. 16-18 ct)
%p
  Call or email for pricing. All packaging options can be palletized to your specifications.