- @banner = 'andyinfield'
%h1 In The News
%p
  %strong Daniels Produce voted 2007 Agribusiness Pioneer by the Columbus Area Chamber of Commerce!
%p
  See what people are saying about Daniels Produce. Click on thumbnails to view articles.
%p
  %strong Lincoln Journal Star
  %br
  2006
  %span &#124;
  %a{:href => '/pdfs/sells_fast.pdf', :title => 'Sweet corn sells fast on Saturdays'} Sweet corn sells fast on Saturdays
  %br
  2005
  %span &#124;
  %a{:href => '/pdfs/coolfactor_1.pdf', :title => 'Cooling factor gives corn flavor boost - Page 1'} Cooling factor gives corn flavor boost - Page 1
  %br
  2005
  %span &#124;
  %a{:href => '/pdfs/coolfactor_2.pdf', :title => 'Cooling factor gives corn flavor boost - Page 2'} Cooling factor gives corn flavor boost - Page 2
  %br
  2003
  %span &#124;
  %a{:href => '/pdfs/melons.pdf', :title => "Find the finest rind, melon at the Farmer's Market"} Find the finest rind, melon at the Farmer's Market
  %br
  Article
  %span &#124; 
  %a{:href => '/pdfs/stop_thumping.pdf', :title => 'Stop Thumping: How to tell if a melon is ripe'} Stop Thumping: How to tell if a melon is ripe
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/beyond_ketchup.pdf', :title => 'Beyond Ketchup'} Beyond Ketchup
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/familyaffair.pdf', :title => 'Produce business a family affair'} Produce business a family affair
  %br
  Article 
  %span &#124;
  %a{:href => 'http://journalstar.com/lifestyles/food-and-cooking/recipes/article_4dcf94b8-79b7-53b9-9836-1dd6e06f88ed.html', :title => 'Corn, sweet corn! Long wait is over'} Corn, sweet corn! Long wait is over
%p
  %strong Columbus Telegram
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/cash_crop.pdf', :title => 'Cash need led to sweet crop'} Cash need led to sweet crop
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/farm_produces.pdf', :title => 'Farm produces for Daniels family'} Farm produces for Daniels family
%p
  %strong Others
  %br
  Article 
  %span &#124;
  %a{:href => 'http://m.omaha.com/news/nebraska/same-cabbage-picking-help-is-hour-less-in-colorado-wage/article_95537f5e-aaf4-58a6-89ea-7872fb3fc936.html?mode=jqm', :title => 'Same cabbage-picking help is $2.50/hour less in Colorado: Wage rules rankle Nebraska farmers'} Same cabbage-picking help is $2.50/hour less in Colorado: Wage rules rankle Nebraska farmers
  %br
  Article 
  %span &#124;
  %a{:href => 'http://vegetablegrowersnews.com/index.php/magazine/article/nebraska-grower-wants-h-2a-fix', :title => 'Nebraska Grower Wants H-2A Fix'} Nebraska Grower Wants H-2A Fix
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/local_growers.pdf', :title => 'Local Growers'} Local Growers
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/trial_error_success.pdf', :title => 'Trial, error and success with produce'} Trial, error and success with produce
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/migrant_workforce.pdf', :title => 'Value of Migrant Workforce Underestimated'} Value of Migrant Workforce Underestimated
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/ag_families.pdf', :title => 'State Fair Honors ag Families'} State Fair Honors ag Families