- @banner = 'andyinfield'
%h1 In The News
%p
  %strong Daniels Produce voted 2007 Agribusiness Pioneer by the Columbus Area Chamber of Commerce!
%p
  See what people are saying about Daniels Produce. Click on thumbnails to view articles.
%p
  %strong Lincoln Journal Star
  %br
  2006
  %span &#124;
  %a{:href => '/pdfs/sells_fast.pdf', :title => 'Sweet corn sells fast on Saturdays'} Sweet corn sells fast on Saturdays
  %br
  2005
  %span &#124;
  %a{:href => '/pdfs/coolfactor_1.pdf', :title => 'Cooling factor gives corn flavor boost - Page 1'} Cooling factor gives corn flavor boost - Page 1
  %br
  2005
  %span &#124;
  %a{:href => '/pdfs/coolfactor_2.pdf', :title => 'Cooling factor gives corn flavor boost - Page 2'} Cooling factor gives corn flavor boost - Page 2
  %br
  2003
  %span &#124;
  %a{:href => '/pdfs/melons.pdf', :title => "Find the finest rind, melon at the Farmer's Market"} Find the finest rind, melon at the Farmer's Market
  %br
  Article
  %span &#124; 
  %a{:href => '/pdfs/stop_thumping.pdf', :title => 'Stop Thumping: How to tell if a melon is ripe'} Stop Thumping: How to tell if a melon is ripe
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/beyond_ketchup.pdf', :title => 'Beyond Ketchup'} Beyond Ketchup
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/familyaffair.pdf', :title => 'Produce business a family affair'} Produce business a family affair
%p
  %strong Columbus Telegram
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/cash_crop.pdf', :title => 'Cash need led to sweet crop'} Cash need led to sweet crop
  %br
  Article 
  %span &#124;
  %a{:href => '/pdfs/farm_produces.pdf', :title => 'Farm produces for Daniels family'} Farm produces for Daniels family