- @banner = 'aug_1986'
%nav
  %a{:href => '/our_story/our_family', :title => 'Our Family'} Our Family
  %span &#124;
  %a{:href => '/our_story/our_future', :title => 'Our Future'} Our Future
%h1 Our Story
%p
  Daniels Produce is owned and operated by my wife and I, Andy and Tannie Daniels. 
  I graduated from the University of Nebraska in 1974 with a Bachelor's degree in Agronomy and Agricultural Economics. 
  Tannie and I have been farming for the past 40 years. 
  In the early 80's we diversified into fresh market vegetable production due to a lack of opportunities in conventional farming. 
  Today Daniels Produce raises close to 500 acres of vegetables.
%p
  Tannie, with the help of our three young children, began selling melons and sweet corn at a roadside stand in Columbus. 
  The business began to grow as the years passed and in the early nineties we began to sell our sweet corn wholesale to other produce vendors and a few grocery stores. 
  The retail stand flourished as well, thanks to the continuous support of the community of Columbus.
  Tannie currently runs five retail stands across Nebraska as well as five farmers markets on the weekends.
%p
  These expansions in sales required a great increase in acres of vegetables production. 
  Today, Daniels Produce raises over 500 acres of vegetables every year. 
  Eighty percent of which is dispersed throughout Nebraska, Kansas, Missouri, and as far as Texas and Florida. 
  Tannie currently runs four retail stands across Nebraska as well as four farmers markets on the weekends.
