- @banner = 'cucumbers'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest', :class => 'selected'} All The Rest…
%h1 Garden Goodness
%p
  Check out some of our other fresh and tasty products at our stands:
%ul
  %li Cabbage
  %li Cucumbers
  %li New Potatoes
  %li Green Beans
  %li Onions
  %li Zucchini
  %li Yellow Squash