- @banner = 'gardengoodness'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest', :class => 'selected'} All The Rest…
%h1 Garden Goodness
%p
  Check out some of our other fresh and tasty products at our stands:
%ul
  %li Asparagus
  %li Beets
  %li Bell Pepper
  %li Broccoli
  %li Cabbage
  %li Cauliflower
  %li Cucumbers
  %li Egg Plant
  %li Garlic
  %li Gourds
  %li Green Beans
  %li Jalapeno
  %li Kale
  %li Kohlrabi
  %li New Potatoes
  %li Onions
  %li Pumpkins
  %li Radish
  %li Snap Peas
  %li Spinach
  %li Sweet Corn
  %li Swish Chard
  %li Winter Squash
  %li Yellow Squash
  %li Zucchini