- @banner = 'corn_irrigation'
%nav
  %a{:href => '/wholesale_corn/planting', :title => 'Planting'} Planting
  %span &#124;
  %a{:href => '/wholesale_corn/topping_harvesting', :title => 'Topping & Harvesting'} Topping & Harvesting
  %span &#124;
  %a{:href => '/wholesale_corn/hydro_cooling', :title => 'Hydro Cooling', :class => 'selected'} Hydro Cooling
  %span &#124;
  %a{:href => '/wholesale_corn/packaging', :title => 'Packaging'} Packaging
%h1 Topping & Harvesting
%p
  Within 30 minutes or less of hand picking, all Daniels corn is submerged in a tank of water-cooled to 38 degrees Fahrenheit. 
  Our hydrocooler has a 50 ton cooling capacity.
%p
  Our corn is covered with ice from our 36,000lb/day ice machine and then stored in our cooling shed.
%p
  The core temperature of all of our corn is below 42 degrees when shipped out.