<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  <link rel="stylesheet" type="text/css" href="daniellstyle.css"  />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Adobe GoLive" />
    <title>Daniels Produce | How We Grow</title>
    <csscriptdict import="import">
      <script type="text/javascript" src="file:///Users/tjzark/Library/Preferences/Adobe/GoLive/Settings8/JScripts/GlobalScripts/CSScriptLib.js"></script>
    </csscriptdict>
    <csactiondict>
      <script type="text/javascript"><!--
var preloadFlag = false;
function preloadImages() {
  if (document.images) {
    pre_btn_hv_01 = newImage('images/btn_hv_01.jpg');
    pre_btn_hv_03 = newImage('images/btn_hv_03.jpg');
    pre_btn_hv_04 = newImage('images/btn_hv_04.jpg');
    pre_btn_hv_05 = newImage('images/btn_hv_05.jpg');
    pre_btn_hv_07 = newImage('images/btn_hv_07.jpg');
    pre_btn_hv_08 = newImage('images/btn_hv_08.jpg');
    pre_btn_hv_06 = newImage('images/btn_hv_06.jpg');
    pre_logo_over = newImage('images/logo_over.jpg');
    preloadFlag = true;
  }
}

// --></script>
    </csactiondict>
  </head>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10097549-2");
pageTracker._trackPageview();
} catch(err) {}</script>
  <body onload="preloadImages();" background="images/cardboard_hrz.gif" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
    <table width="830" border="0" cellspacing="0" cellpadding="0">
      <tr align="left" valign="top">
        <td background="images/shad_left.png"></td>
        <td>
          <table width="790" border="0" cellspacing="0" cellpadding="0" background="images/backchip.gif">
            <tr>
              <td>
                <table width="790" border="0" cellspacing="0" cellpadding="0">
                  <tr align="left" valign="top">
                    <td width="54"><img src="images/shad saftety/background/trial_02b.jpg" width="54" height="242" /></td>
              <td width="454"><img src="images/1grow/qualityfirst.jpg" width="454" height="242" />
                <p><img src="images/header/header_quality.jpg" width="454" height="32" /></p>
              <p>It is fair to say that we are absolutely driven by quality. We work to improve every facet of our business, from planting to packaging and shipping. Year by year, we listen to our buyers and implement the necessary changes to provide the best produce in the business. Some of the values that govern our operation include:</p>
                      <p><strong>Food safety<br />
                        </strong>In 2009 Daniels Produce became Primus Food Safety Certified, so our customers can rest easy knowing our products are safe and delicious.</p>
                      <p><strong>Drought protection<br />
                        </strong>Because all crops are irrigated, drought cannot affect our production.</p>
                      <p><strong>Handpicking<br />
                        </strong>Handpicking ensures you are getting the best out of each field, we pick the best and leave the rest. We have a great group of guys through the H2A program who are unbelievably hardworking and committed to picking all of our produce. They take great pride in their work and it shows!</p>
                      <p><strong>Pest Management<br />
                        </strong>Crop scouts are constantly checking every field to make certain every and all pest are kept under control.</p>
                      <p><strong>Hydro cooling<br />
                        </strong>We preserve the natural sugar in every ear so our corn taste as sweet and fresh as if it just came off the stalk. All sweet corn is hydro cooled with 38 degree water within 30 minutes or less, after picking.</p>
                      <strong>Timing<br />
                      </strong>In vegetables, timing is everything, and we work hard to make sure we have our products ready when you want them.</td>
                    <td width="52"><img src="images/shad saftety/background/side.jpg" width="52" height="175" /></td>
              <td>
                      <table width="230" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="images/logos/old.jpg" width="230" height="206" /></td>
                        </tr>
                        <tr>
                          <td><p>&nbsp;</p>
                            <p><img src="images/1story/tabs_story.jpg" width="230" height="27" /></p></td>
                        </tr>
                        <tr>
                          <td><img src="images/1grow/howwergrowtree.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1cabbage/tabs_cabbage.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1corn/tabs_corn.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1peppers/tabs_peppers.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1squash/tabs_squash.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1retail/tabs_retail.jpg" alt="" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1news/tabs_inthenews.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><p><img src="images/1thecrew/tabs_crew.jpg" width="230" height="27" /></p>
                            <p><img src="images/other/facebooklink.jpg" width="230" height="206" /></p></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td><img src="images/1grow/ft_grow copy.jpg" width="790" height="180" /></td>
            </tr>
          </table>
        </td>
        <td background="images/shad_right.png"></td>
      </tr>
      <tr align="left" valign="top">
        <td><img src="images/shad_lc.png" alt="" height="20" width="20" border="0" /></td>
        <td background="images/shad_bottom.png"></td>
        <td><img src="images/shad_rc.png" alt="" height="20" width="20" border="0" /></td>
      </tr>
    </table>
         
  </body>