- @banner = 'topping'
%nav
  %a{:href => '/wholesale_corn/planting', :title => 'Planting'} Planting
  %span &#124;
  %a{:href => '/wholesale_corn/topping_harvesting', :title => 'Topping & Harvesting', :class => 'selected'} Topping & Harvesting
  %span &#124;
  %a{:href => '/wholesale_corn/hydro_cooling', :title => 'Hydro Cooling'} Hydro Cooling
  %span &#124;
  %a{:href => '/wholesale_corn/packaging', :title => 'Packaging'} Packaging
%h1 Topping & Harvesting
%p
  Topping is performed three to four days prior to harvest to allow for quick and easy handpicking.
%p
  Then to ensure the highest quality product, our crews move into the field and pick every ear by hand.