- @banner = 'future'
%nav
  %a{:href => '/our_story/our_family', :title => 'Our Family'} Our Family
  %span &#124;
  %a{:href => '/our_story/our_future', :title => 'Our Future', :class => 'selected'} Our Future
%h1 Our Future
%p
  One of our major goals for the future is to continually improve the way we grow our products. 
  We want to expand to meet the priorities of our valued customers, 
  but stay small enough to continually maintain the quality of our product. 
  Here at Daniels Produce getting better at what we do will always come before getting bigger.
%p
  Every winter we attend vegetable conferences across the country to discover new varieties of seed 
  and growing techniques to provide our customers with the newest and best products available on the market.
%p
  We plan to improve efficiency of wholesale, retail and production divisions. 
  Recently we added a new office and a full time, year round office manager so someone is always available to 
  answer any questions you might have about our business. We have also added a new hydrocooler and an industrial ice machine. 
  We now use the old hydrocooler and ice machines as back-ups during high volume periods.