<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  <link rel="stylesheet" type="text/css" href="daniellstyle.css"  />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Adobe GoLive" />
    <title>Daniels Produce | Our Story</title>
    <csscriptdict import="import">
      <script type="text/javascript" src="file:///Users/tjzark/Library/Preferences/Adobe/GoLive/Settings8/JScripts/GlobalScripts/CSScriptLib.js"></script>
    </csscriptdict>
    <csactiondict>
      <script type="text/javascript"><!--
var preloadFlag = false;
function preloadImages() {
  if (document.images) {
    pre_btn_hv_03 = newImage('images/btn_hv_03.jpg');
    pre_btn_hv_04 = newImage('images/btn_hv_04.jpg');
    pre_btn_hv_05 = newImage('images/btn_hv_05.jpg');
    pre_btn_hv_07 = newImage('images/btn_hv_07.jpg');
    pre_btn_hv_08 = newImage('images/btn_hv_08.jpg');
    pre_btn_hv_06 = newImage('images/btn_hv_06.jpg');
    pre_logo_over = newImage('images/logo_over.jpg');
    preloadFlag = true;
  }
}

// --></script>
    </csactiondict>
  </head>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10097549-2");
pageTracker._trackPageview();
} catch(err) {}</script>
  <body onload="preloadImages();" background="images/cardboard_hrz.gif" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
    <table width="830" border="0" cellspacing="0" cellpadding="0">
      <tr align="left" valign="top">
        <td background="images/shad_left.png"></td>
        <td>
          <table width="790" border="0" cellspacing="0" cellpadding="0" background="images/backchip.gif">
            <tr>
              <td>
                <table width="790" border="0" cellspacing="0" cellpadding="0">
                  <tr align="left" valign="top">
                    <td width="54"><img src="images/shad saftety/background/trial_02b.jpg" width="54" height="242" /></td>
                    <td width="454"><img src="images/1story/lg_kids2.jpg" width="454" height="242" />
                      <p><a href="family.html">Our Family</a><a href="(EmptyReference!)"> | </a><a href="future.html">Our Future</a></p>
                      <p><img src="images/header/header_story.jpg" width="454" height="32" /></p>
                      <p>Daniels Produce is owned and operated by my wife and I, Andy and Tannie Daniels. I graduated from the University of Nebraska in 1974 with a Bachelor's degree in Agronomy and Agricultural Economics. Tannie and I have been farming for the past 38 years. In the early 80's we diversified into fresh market vegetable production due to a lack of opportunities in conventional farming. Today Daniels Produce raises close to 600 acres of vegetables.</p>
                      <p>Tannie, with the help of our three young children, began selling melons and sweet corn at a roadside stand in Columbus. The business began to grow as the years passed and in the early nineties we began to sell our sweet corn wholesale to other produce vendors and a few grocery stores. The retail stand flourished as well, thanks to the continuous support of the community of Columbus.</p>
                      <p>These expansions in sales required a great increase in acres of vegetables production. Today, Daniels Produce raises over 700 acres of vegetables every year. Eighty percent of which is dispersed throughout Nebraska, Kansas, Missouri, and as far as Texas and Florida. Tannie currently runs four retail stands across Nebraska as well as four farmers markets on the weekends.</p>
                    </td>
                    <td width="52"><img src="images/shad saftety/background/side.jpg" width="52" height="175" /></td>
              <td>
                      <table width="230" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="images/logos/old.jpg" width="230" height="206" /></td>
                        </tr>
                        <tr>
                          <td height="61"><p>&nbsp;</p>
                            <p><img src="images/1story/ourstorytree.jpg" width="230" height="27" /></p></td>
                        </tr>
                        <tr>
                          <td><img src="images/1grow/tabs_grow.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1cabbage/tabs_cabbage.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1corn/tabs_corn.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><img src="images/1peppers/tabs_peppers.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td height="21"><img src="images/1squash/tabs_squash.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td height="21"><img src="images/1retail/tabs_retail.jpg" alt="" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td height="21"><img src="images/1news/tabs_inthenews.jpg" width="230" height="27" /></td>
                        </tr>
                        <tr>
                          <td><p><img src="images/1thecrew/tabs_crew.jpg" width="230" height="27" /></p>
                            <p><img src="images/other/facebooklink.jpg" width="230" height="206" /></p></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td><img src="images/1story/ft_story3.jpg" width="790" height="180" /></td>
            </tr>
          </table>
        </td>
        <td background="images/shad_right.png"></td>
      </tr>
      <tr align="left" valign="top">
        <td><img src="images/shad_lc.png" alt="" height="20" width="20" border="0" /></td>
        <td background="images/shad_bottom.png"></td>
        <td><img src="images/shad_rc.png" alt="" height="20" width="20" border="0" /></td>
      </tr>
    </table>
         
  </body>