- @banner = 'peppers'
%h1 Perfect Peppers And Hot Jalapeños
%h2 Planting
%p
  Peppers are started in our greenhouse in March and are hand transplanted outside in May. 
  Our plants are staked, tied, and monitored for water, fertility, and insect and disease.
%h2 Harvesting
%p
  All of our peppers are hand harvested and graded. We go above USDA requirements on size and quality. 
  We ship the best and toss the rest. Bell Peppers and Jalapeños are available seasonally from approximately July 20th-October 15th.
%h2 Hydro-cooling/Washing
%p
  Within 30 minutes of harvest, our peppers are graded by size and dunked into our pepper hydrocooling tank for simulations, 
  disinfecting and cooling. Our peppers are clean, crisp, cold and safe when they are shipped.
%h2 Packaging
%p 
  We offer several different packaging options for our peppers.
%p Bell Peppers:
%ul
  %li 55ct Extra Large Reusable Plastic Containers (RPC)
  %li Jumbo RPC
  %li Irregular RPC
  %li Extra Large Bushel and 1/9 corrugate box
  %li Jumbo Bushel and 1/9 corrugate box
  %li Irregular Bushel and 1/9 corrugate box
%p Jalapeños:
%ul
  %li 10lb corrugate box
  %li 20lb corrugate box
  %li 20lb RPC
  %li 40lb corrugate box
  %li 40lb RPC
%p Call or email for pricing. All packaging options can be palletized to your specifications.