body {
color: #776f5c;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: .8em;
line-height: 1.7em;
width: 790px;
position:absolute;
left:50%;
margin-left: -395px;
background-color: #fdf8e1;
}
a:link {
color: #776f5c;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 1.em;
line-height: 1.7em;
text-decoration: underline; }
a:visited {
color: #776f5c;
; }
a:hover {
color: #0b3263; }
a:active {
background-color: #95b7cd;