- @banner = 'new_portrait'
%h1 Welcome!
%p
  Daniels Produce is a family owned and operated grower-packer-shipper of fresh produce.  We proudly raise over 500 acres of sweet corn, bell peppers, cucumbers, cabbage and zucchini.  We will also have a small quantities of melons, tomatoes, and eggplant for our retail stands. 
%p
  We are located in Platte County, in east central Nebraska. 
  Most of our yearly production is wholesaled to various warehouses throughout the Midwest and the rest through our retail stands.
%p 
  Quality is of the utmost importance to us and guides every improvement that we make on the farm. 
  We deliver &quot;solutions&quot; that consistently exceed the expectations of our most demanding customers and remain committed to establishing new standards of quality.
%p
  Come see for yourself, email us or give us at call at:
  %strong (402) 897-4253
%p
  We would love to talk with you and answer any of your questions.
%h2 Follow Us!
%p
  %a{:href => 'http://www.facebook.com/pages/Daniels-Produce/317185496642', :title => 'Daniels Produce on Facebook', :class => 'icon'}
    %img{:src => '/images/facebook.png', :alt => 'Facebook'}
  %a{:href => 'http://www.twitter.com/danielsproduce', :title => 'Daniels Produce on Twitter', :class => 'icon'}
    %img{:src => '/images/twitter.png', :alt => 'Twitter'}
  %a{:href => 'http://www.twitter.com/danielsproduce', :title => 'Daniels E-Mail List', :class => 'icon'}
    %img{:src => '/images/email.png', :alt => 'E-Mail'}
%h2 We are now Primus GFS certified
%p
  %img{:src => '/images/primusgfs.jpeg', :alt => 'Primus GFS'}