- @banner = 'new_portrait'
%h1 Welcome!
%p
  In 2012 we will be growing around 500 acres of sweet corn and we are excited to add some new products to our wholesale product line. 
  This year we will be planting 30 acres of cabbage, 20 acres of bell peppers, and 7 acres of summer squash. 
  We will also have small quantities of melons, tomatoes, and cucumbers for our retail stands.
%p
  We are located in Platte County, in east central Nebraska. 
  Most of our yearly production is wholesaled to various warehouses throughout the Midwest and the rest through our retail stands.
%p 
  Quality is of the utmost importance to us and guides every improvement that we make on the farm. 
  We deliver &quot;solutions&quot; that consistently exceed the expectations of our most demanding customers and remain committed to establishing new standards of quality.
%p
  Come see for yourself, email us or give us at call at:
  %strong (402) 897-4253
%p
  We would love to talk with you and answer any of your questions.
%p
  %a{:href => 'http://www.facebook.com/pages/Daniels-Produce/317185496642', :title => 'Daniels Produce on Facebook', :class => 'facebook'}
    %img{:src => '/images/facebook.png', :alt => 'Facebook'}
  %div{:class => 'foodsafety'}
    %img{:src => '/images/foodsafety.png', :alt => 'Food Safety Certified'}