- @banner = 'cantaloupe'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe', :class => 'selected'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest'} All The Rest…
%h1 Guaranteed Ripe Cantaloupe
%p 
  Our juicy cantaloupes are ready for picking around mid July. 
  We wait till they are nice and ripe before we head out into the field, 
  so there is no need to thump and shake each melon like you do in a grocery 
  store and remember Daniels melons are guaranteed.