- @banner = 'watermelon'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon', :class => 'selected'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest'} All The Rest…
%h1 Summer Sweet Watermelon
%p
  Daniels offers watermelons which are usually ready mid to late July. Remember our melons are guaranteed.