- @banner = 'corn_row'
%nav
  %a{:href => '/wholesale_corn/planting', :title => 'Planting', :class => 'selected'} Planting
  %span &#124;
  %a{:href => '/wholesale_corn/topping_harvesting', :title => 'Topping & Harvesting'} Topping & Harvesting
  %span &#124;
  %a{:href => '/wholesale_corn/hydro_cooling', :title => 'Hydro Cooling'} Hydro Cooling
  %span &#124;
  %a{:href => '/wholesale_corn/packaging', :title => 'Packaging'} Packaging
%h1 Spring Planting
%p
  Planting begins April 1st and continues through the end of June. 
  We have multiple plantings of each crop to maintain freshness throughout the season. 
  The past couple of years we have implemented a plastic technique to move toward earlier 
  availability of high quality corn for future retail seasons.