- @banner = 'squash'
%h1 Sensational Summer Squash
%h2 Growing and Harvesting
%p
  Our zuchini and yellow squash are hand harvested and graded right in the field so thes tender beauties are only handled once. We harvest and grade to surpass USDA standards on our wholesale squash. After harvest and grading, they are dunked in our squash hydro-cooler to be simultaneously disinfected, washed and cooled. Summer squash are available seasonally from approximately June 20th-October 15th.
%h2 Packaging
%p
  We offer several different packaging options for our summer squash:
%ul
  %li 10lb corrugated box
  %li 20lb RPC
  %li 20lb corrguated box
  %li 40lb corrguated box
%p Call or email for pricing. All packaging options can be palletized to your specifications.