- @banner = 'tomatoes'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes', :class => 'selected'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest'} All The Rest…
%h1 Red Ripe Tomatoes
%p 
  We raise over 1800 tomato plants including several varieties of heirloom, hybrid and grape tomatoes. Our plants are tied up using a stake and weave technique. 
  Water is monitored daily using tensiometers and the plants are given the proper amount of water through a drip line in the ground.
%p
  All tomatoes are vine ripened and picked by hand. 
  We then box the best and reject the rest for canning tomatoes leaving only the roundest, 
  reddest tomatoes for you to purchase. 
  Canning tomatoes are available midway through the season, ask one of our team members 
  at your local retail stand for more information.
