- @banner = 'corn_closeup'
%nav
  %a{:href => '/wholesale_corn/planting', :title => 'Planting'} Planting
  %span &#124;
  %a{:href => '/wholesale_corn/topping_harvesting', :title => 'Topping & Harvesting'} Topping & Harvesting
  %span &#124;
  %a{:href => '/wholesale_corn/hydro_cooling', :title => 'Hydro Cooling'} Hydro Cooling
  %span &#124;
  %a{:href => '/wholesale_corn/packaging', :title => 'Packaging'} Packaging
%h1 Freshness You Can Count On
%p
  At Daniels Produce, we raise only bi-colored sweet corn to achieve the best possible product. 
  Our sweet corn sales are from July 10th to mid September.
%p
  Each ear of our sweetcorn is handpicked and then hydro-cooled to preserve the natural sugars. 
  Our corn is sprayed for earworm control when needed to provide the best pest free product.