- @banner = 'girls'
%nav
  %a{:href => '/retail_products/tomatoes', :title => 'Tomatoes'} Tomatoes
  %span &#124;
  %a{:href => '/retail_products/watermelon', :title => 'Watermelon'} Watermelon
  %span &#124;
  %a{:href => '/retail_products/cantaloupe', :title => 'Cantaloupe'} Cantaloupe
  %span &#124;
  %a{:href => '/retail_products/all_the_rest', :title => 'All The Rest'} All The Rest…
%h1 Retail Products
%p
  We currently have 4 retail stands across Nebraska, in conjunction to our stands we also sell at four farmers markets. 
  You can visit any of our stands at the following locations and times.
%p
  %strong Columbus: US 30 Center Mall Parking Lot
  %br
  %strong 3200 32nd Street
  %br
  Monday through Sunday | 9am to 6pm
%p
  %strong Fremont: Auto Zone
  %br
  %strong 601 E 23rd Street
  %br
  Monday through Saturday | 10am to 5pm
%p
  %strong Lincoln: Haymarket Farmers Market
  %br
  %strong White van on North end 8th and Q Street
  %br
  Saturday | 8am to noon
%p
  %strong Lincoln: Old Cheney Farmers Market
  %br
  %strong 56th and Old Cheney
  %br
  Sunday | 10am to 2pm
%p
  %strong Lincoln Daily Stand: TBA
%p
  %strong Omaha: Village Point Farmers Market
  %br
  %strong 168th and Dodge
  %br
  Saturday | 8am to 1pm
%p
  %strong Omaha Daily Stand: Red Robin
  %br
  %stron 14455 West Maple Rd
  %br
  Monday through Saturday | 10am to 6pm
%p
  %strong Omaha: Aksarben Farmers Market
  %br
  %strong 67th and  Center
  %br
  Saturday | 9am to 1pm
%p
  *Closing times at every stand are subject to change depending on the occurrence of sell outs of sweet corn (most common on Saturdays)
