- @banner = 'corn_packaging'
%nav
  %a{:href => '/wholesale_corn/planting', :title => 'Planting'} Planting
  %span &#124;
  %a{:href => '/wholesale_corn/topping_harvesting', :title => 'Topping & Harvesting'} Topping & Harvesting
  %span &#124;
  %a{:href => '/wholesale_corn/hydro_cooling', :title => 'Hydro Cooling'} Hydro Cooling
  %span &#124;
  %a{:href => '/wholesale_corn/packaging', :title => 'Packaging', :class => 'selected'} Packaging
%h1 Hand Packed
%p
  We hand pack our sweet corn in plastic Macrobins, cardboard bins, 48 count waxed boxes, 
  or 48 count RPC for members of the RPC program.
%p
  Plastic Macrobins each contain approximately 60 dozen ears or 720 ears and require a deposit.
%p
  Our cardboard bins are crafted, marked with safety arrows and fit on a 40X48" pallet. 
  Each contains approximately 50 dozen or 600 ears per bin. They are shipped double stacked, 44 bins per refer truck.
%p
  Our 48 count waxed cardboard boxes can be palleted to your specifications
%p
  %strong RPCs Program
  48 count RPCs are a packaging option for those customers who are in the program and handle 
  the responsibility for all RPC rental costs, tracking and exchanges.
%p
  %strong CFOB the farm
  Call for pricing
%p
  Our supply never meets the demand for our product so please call for availability