- @banner = 'danielsfamily'
%nav
  %a{:href => '/our_story/our_family', :title => 'Our Family', :class => 'selected'} Our Family
  %span &#124;
  %a{:href => '/our_story/our_future', :title => 'Our Future'} Our Future
%h1 Our Family
%p
  Tannie and I were married in the fall of 1975 and two years later we were blessed with our first child Holly. 
  As our knowledge for farming began to grow, so did our family. 
  Jason was born in 1979 followed by the youngest, Kelly in 1982. 
  Our kids learned the meaning of hard work early, and spent every hot and sticky 
  summer tending to the family vegetable crops and helping their mother sell 
  produce at the Columbus retail stands.
%p
  Holly obtained a Bachelors degree in Veterinary Science and a Masters in the same field 
  from the University of Nebraska at Lincoln. She is now married to Kevin Klink and has 
  three beautiful daughters Anistyn, Taryn, and Avery. Holly works at Zoetis Animal Health as a Senior Scientist 
  and Kevin is a dual Site Manager for AgSource Harris Labs. They reside in Raymond Nebraska, 
  but both work in Lincoln, NE.
%p
  Jason earned his Fine Arts degree from the University of Nebraska at Lincoln, and is now our 
  General Manager of Production. Jason is married to Kassie who works for Lincoln Financial 
  and they have a son Maddox.  They reside in Omaha.
%p
  Kelly received her Biological Science degree from the University of Nebraska at Lincoln, 
  and accepted a position as Office Manager in the family business. She is married to Jason Jackson, 
  who is the Vice President of Jackson Services in Columbus. They have 2 sons, Harrison and Colin.